* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-auto-rows: 6rem;
    margin: 10px;
    grid-gap: 8px;
  }
  
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  div {
    overflow: hidden;
    border-radius: 8px;
  }
  
  div:nth-child(5n) {
    grid-row: span 3;
    grid-column: span 2;
  }
  